body {
    font-family: "Vesper Libre", serif;
    color: #1a1a1a;
    line-height: 1.5em;
    margin: 0%;
}

header {
    background-color: #000;
    text-decoration: #fff;
}

footer {
    background-color: #000;
    text-decoration: #fff;
}